.footer{
  z-index: 1;
  position: relative;
  padding: 34px 0 28px 0;
  display: flex;
  align-items: center;
  background: #070E14;
  & .container{
    display: flex;
    justify-content: space-between;
    align-items: center; 
  }
  &-menu{
    display: flex;
    font-size: 16px;
    color: white;
    & li+li {
      margin-left: 18px;
    }
  }
  &-info{
    height: 45px;
    padding-left: 28px;
    display: flex;
    align-items: center;
    // background: #FF9900;
    background: url('/assets/img/header_bg.svg');
    &__main{
      display: flex;
      flex-direction: column;
      text-align: right;
      & .phone{
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        line-height: 103%;
      }
      & .mail{
        font-size: 12px;
        line-height: 103%;
      }
    }
    &__social{
      display: flex;
      align-items: center;
      margin: 0 10px;
      & a+a{
        margin-left: 12px;
      }
    }
  }
}

@media( min-width: 992px) {
  .footer{
    &-menu{
      & li{
        & a{
          display: block;
          position: relative;
          &::before{
            content: '';
            position: absolute;
            left: 50%;
            bottom: -5px;
            width: 0;
            height: 1px;
            border-radius: 1px;
            transform:translateX(-50%);
            transition: .3s;
          }
          &:hover{
            &::before{
              background: $orange;
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@media(max-width: 479px){
  .footer{
    padding: 20px 0 0 0;
    & .container{
      flex-direction: column;
      padding: 0;
    }
    &-logo{
      margin-bottom: 20px;
    }
    &-menu{
      flex-direction: column;
      text-align: center;
      margin-bottom: 20px;
      & li+li {
        margin-top: 20px;
        margin-left: 0;
      }
    }
    &-info{
      height: unset;
      width: 100%;
      padding: 25px 0;
      margin: 0 -15px;
      align-items: center;
      flex-direction: column;
      background: url('/assets/img/header_bg_m.svg');
      &__main{
        text-align: center;
        & .phone{
          font-size: 16px;
          margin-bottom: 15px;
        }
        & .mail{
          font-size: 16px;
          margin-bottom: 15px;
        }
      }
      &__social{
        margin: 0;
        & a+a{
          margin-left: 12px;
        }
      }
    }
  }
}