.header{
  z-index: 1;
  position: relative;
  padding: 40px 0 30px 0;
  display: flex;
  align-items: center;
  background: #070E14;
  &::before{
    z-index: -1;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 446px;
    background: linear-gradient(180deg, #000000 57.74%, rgba(0, 0, 0, 0) 100%);
  }
  & .container{
    display: flex;
    justify-content: space-between;
    align-items: center; 
  }
  &-block{
    display: flex;
    align-items: center;
    flex: 1 0 0;
  }
  &-menu{
    display: flex;
    justify-content: center;
    flex: auto;
    font-size: 16px;
    color: white;
    & li+li {
      margin-left: 18px;
    }
  }
  &-info{
    height: 45px;
    padding-left: 28px;
    display: flex;
    align-items: center;
    // background: #FF9900;
    background: url('/assets/img/header_bg.svg');
    &__main{
      display: flex;
      flex-direction: column;
      text-align: right;
      & .phone{
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        line-height: 103%;
      }
      & .mail{
        font-size: 12px;
        line-height: 103%;
      }
    }
    &__social{
      display: flex;
      align-items: center;
      margin: 0 10px;
      & a+a{
        margin-left: 12px;
      }
    }
  }
}

@media( min-width: 992px) {
  .header{
    &-menu{
      & li{
        & a{
          display: block;
          position: relative;
          &::before{
            content: '';
            position: absolute;
            left: 50%;
            bottom: -5px;
            width: 0;
            height: 1px;
            border-radius: 1px;
            transform:translateX(-50%);
            transition: .3s;
          }
          &:hover{
            &::before{
              background: $orange;
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@media(max-width: 479px){
  .header{
    padding: 20px 0 0 0;
    &-active{
      z-index: 3;
    }
    &::before{
      height: 200px;
    }
    & .container{
      padding: 0;
      align-items: flex-start;
    }
    &-logo{
      padding-left: 15px;
      width: 180px;
    }

    &-block{
      display: none;
      position: absolute;
      top: 61px;
      left: 0;
      right: 0;
      flex-direction: column;
      width: 100%;
      background: black;
    }
    &-menu{
      width: 100%;
      flex-direction: column;
      text-align: center;
      padding: 25px 0;
      margin: 0;
      
      &__button{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 18px 0 18px 10px;
        width: 70px;
        background: url('/assets/img/header_bg.svg') no-repeat;
        & span{
          position: relative;
          display: block;
          width: 18px;
          height: 2px;
          background: $text-color;
          &::before{
            content: '';
            position: absolute;
            display: block;
            top: -5px;
            width: 18px;
            height: 2px;
            background: $text-color;
          }
          &::after{
            content: '';
            position: absolute;
            display: block;
            bottom: -5px;
            width: 18px;
            height: 2px;
            background: $text-color;
          }
        }
      }
      & li+li {
        margin-top: 20px;
        margin-left: 0;
      }
    }
    &-info{
      height: unset;
      width: 100%;
      padding: 25px 0;
      align-items: center;
      flex-direction: column;
      background: url('/assets/img/header_bg_m.svg') no-repeat;
      background-size: cover;
      &__main{
        text-align: center;
        & .phone{
          font-size: 16px;
          margin-bottom: 15px;
        }
        & .mail{
          font-size: 16px;
          margin-bottom: 15px;
        }
      }
      &__social{
        margin: 0;
        & a+a{
          margin-left: 12px;
        }
      }
    }
  }
}