* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 14px;
  font-family: 'Didact Gothic', sans-serif;
  color: $text-color;
}

h1, h2, h3, h4 {
  margin: 0;
}

ul{
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

button{
  cursor: pointer;
  outline: none;
}

img{
  max-width: 100%;
}

.title{
  font-family: 'Merriweather' ,sans-serif;
  color: $orange;
}

.button__white, .button__dark{
  padding: 12px 18px;
  border: 2px solid $orange;
  border-radius: 50px;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  color: $orange;
  box-shadow: 0px 2.19453px 2.06153px rgba(0, 0, 0, 0.1), 0px 7.37098px 6.92426px rgba(0, 0, 0, 0.15), 0px 25px 31px rgba(0, 0, 0, 0.2);
  transition: .3s;
  &:hover{
    background: $orange;
    color: white;
  }
}

.button__white{
  background: white;
}

.button__dark{
  background: $text-color;
}

.color{
  color: $orange;
}

.container{
  max-width: 1210px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.row{
  display: flex;
  margin: 0 -15px;
}

.block{
  display: block;
}

.slick{
  &-track{
    display: flex;
  }
  &-slide{
    height: auto;
    outline: none !important;
    & > div{
      height: 100%;
    }
  }
}

.slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  & li+li{
    margin-left: 16px;
  }
  & li{
    outline: none;
    cursor: pointer;
    & button{
      width: 16px;
      height: 16px;
      border: 1px solid $orange;
      border-radius: 50%;
      background: transparent;
      font-size: 0;
      outline: none;
      cursor: pointer;
    }
    &.slick-active{
      & button{
        transition: .3s;
        background: $orange;
      }
    }
  }
}


.active{
  display: block !important;
}

@media(max-width: 479px){
  .container{
    max-width: 375px;
  }

}