extends views/layout/main

block variables
	-var title = 'TrackMe'

block content
	section.section.banner
		.container
			.banner-text
				h1.banner-text__sname Якушев
				h2.banner-text__fname Михаил
				span.banner-text__desc Трекинг и Консалтинг
			.banner-block.first-block
				p 
					span.color Трекер 
					| - это специалист по методолгиям роста бизнеса
				p 
					span.color Задача трекера 
					| - помочь найти узкие места и зоны роста бизнеса, научить использованию методологии
				p 
					span.color Задача предпринимателя 
					| - снять ограничения и блоки, внедрить методологии роста и применять их
		.banner-block.second-block
			.container
				p 
					span.color Трекер 
					| - это специалист по методолгиям роста бизнеса
				p 
					span.color Задача трекера 
					| - помочь найти узкие места и зоны роста бизнеса, научить использованию методологии
				p 
					span.color Задача предпринимателя 
					| - снять ограничения и блоки, внедрить методологии роста и применять их

	section.diagnosis
		.container
			.diagnosis-block
				.diagnosis-block__item
					img(src="assets/img/item_1.svg", alt="")
					span Есть крутая идея, но вы не знаете с чего начать?
				.diagnosis-block__item
					img(src="assets/img/item_2.svg", alt="")
					span Есть интересный продукт, но он не продается?
				.diagnosis-block__item
					img(src="assets/img/item_3.svg", alt="")
					span Вы ищете зоны роста и новые возможности?
				.diagnosis-block__item
					img(src="assets/img/item_4.svg", alt="")
					span Планируете запускать новые направления и продукты?
				.diagnosis-block__item
					img(src="assets/img/item_5.svg", alt="")
					span Бизнес-процессы в вашей компании на ручном управлении?
				.diagnosis-block__item
					img(src="assets/img/item_6.svg", alt="")
					span Есть крутая идея, но вы не знаете с чего начать?
			a.button.button__white(href="#form") бесплатная диагностика

	section.use#use
		.container
			.use-left
				h2.use-left__title В чём польза трекинга
				span.use-left__desc Трекинг и методология HADI циклов проверки гипотез достаточно универсальный инструмент. HADI может применяться к различным целям, метрикам, направлениям бизнеса:
				ul.use-left__items
					li.use-left__item Упаковка, продвижение и разработка продуктов
					li.use-left__item Системное управление воронками продаж в B2B/B2C
					li.use-left__item Поиск и создание новых цепочек доставки ценности до клиентов
					li.use-left__item Построение клиентоориентированных сервисов
					li.use-left__item Создание и управление командами проектов
					li.use-left__item
						span.use-left__item-title так же я могу помочь:
						.use-left__item-block
							span Прочкачать переговорные/навыки и деловой этикет
							span Упаковать стартап и бизнес под инвестиции и акселераторы
				a.button.button__dark(href="#form") мне только спросить

	.slider-photo__block
		.slider-photo-1.slider-photo
			.slider-photo__item
				.slider-photo__item-block
					h2 Startup tour 2020
					span Работа в составе жюри  школьных стартап проектов
				img(src="assets/img/photo_slider.jpg", alt="")
			.slider-photo__item
				.slider-photo__item-block
					h2 Startup tour 2020
					span Работа в составе жюри  школьных стартап проектов
				img(src="assets/img/photo_slider.jpg", alt="")
			.slider-photo__item
				.slider-photo__item-block
					h2 Startup tour 2020
					span Работа в составе жюри  школьных стартап проектов
				img(src="assets/img/photo_slider.jpg", alt="")
			.slider-photo__item
				.slider-photo__item-block
					h2 Startup tour 2020
					span Работа в составе жюри  школьных стартап проектов
				img(src="assets/img/photo_slider.jpg", alt="")
			.slider-photo__item
				.slider-photo__item-block
					h2 Startup tour 2020
					span Работа в составе жюри  школьных стартап проектов
				img(src="assets/img/photo_slider.jpg", alt="")
		.slider-photo-2.slider-photo
			.slider-photo__item
				.slider-photo__item-block
					h2 Startup tour 2020
					span Работа в составе жюри  школьных стартап проектов
				img(src="assets/img/photo_slider.jpg", alt="")
			.slider-photo__item
				.slider-photo__item-block
					h2 Startup tour 2020
					span Работа в составе жюри  школьных стартап проектов
				img(src="assets/img/photo_slider.jpg", alt="")
			.slider-photo__item
				.slider-photo__item-block
					h2 Startup tour 2020
					span Работа в составе жюри  школьных стартап проектов
				img(src="assets/img/photo_slider.jpg", alt="")
			.slider-photo__item
				.slider-photo__item-block
					h2 Startup tour 2020
					span Работа в составе жюри  школьных стартап проектов
				img(src="assets/img/photo_slider.jpg", alt="")
			.slider-photo__item
				.slider-photo__item-block
					h2 Startup tour 2020
					span Работа в составе жюри  школьных стартап проектов
				img(src="assets/img/photo_slider.jpg", alt="")

	section.up#up
		.container
			h2.up-title Сейчас растут
			.up-first
				.up-first__item
					h2 Маркетинговое агентство “TheMadGroup”
					span Адаптация новых продуктов под ЦА, ускорение продаж новых продуктов, масштабирование
				.up-first__item
					h2 Сервис по сопровождению бизнеса “Star Tender”
					span Проверка гипотез о новых продуктах, масштабирование
				.up-first__item
					h2 Диспетчерский сервис по аренде техники “СпецТехАренда”
					span Адаптация новых продуктов под ЦА, ускорение продаж новых продуктов, масштабирование
				.up-first__item
					h2 Сеть комиссионных магазинов и ломбардов “Маяк”
					span Устранение узких мест бизнеса, работа с психологией совладельца, проверка гипотез о новых продуктах
				.up-first__item
					.up-first__item-flag
						h2 Внимание!
						span Внедрение методологии в ежедневные процессы бизнеса ведет к системному росту!
			img.up_line(src="assets/img/up_line.svg", alt="")

	section.tasks#tasks
		.container
			h2.tasks-title Задачи трекинга
			.tasks-block
				.tasks-block__item
					img(src="assets/img/task_1.svg", alt="")
					.tasks-block__item-box
						span.tasks-block__item-box__num 1
						.tasks-block__item-box__text
							h3 Фокус
							span Тут все просто. Идем от цели! Словоблудие о т ом, как важно держать фокус на росте, не отвлекаясь на рутину и операционку. Цель в голове и перед глазами. Отбросили лишнее, оставвили лучшее
				.tasks-block__item
					img(src="assets/img/task_2.svg", alt="")
					.tasks-block__item-box
						span.tasks-block__item-box__num 2
						.tasks-block__item-box__text
							h3 Скорость
							span О том, как важно бежать очень быстро. Хоть одному, хоть с командой. Недельные итерации по HADI методологии очень этому помогают. Садимся в лодку и погнали грести. Это даст свои плоды достаточно быстро
				.tasks-block__item
					img(src="assets/img/task_3.svg", alt="")
					.tasks-block__item-box
						span.tasks-block__item-box__num 3
						.tasks-block__item-box__text
							h3 Результат
							span Внедренная  в бизнес-процессы руками предпринимателя система HADI О Трекер возьмет за руку и пойдет вместе с вами, чтобы вы не теряли направления. Работать придется вам и только вам. Зато потом можно будет похвалить себя за успехи
			a.button.button__dark(href="#form") бесплатная диагностика

	section.time#time
		.container
			ul.time-block
				li
					.time-block__text
						h2 Предпринимательство, открытые и закрытые проекты, психология и менеджмент
					.time-block__year
						span 2010
						span 2015
				li
					.time-block__text
						h2 Акселератор ФРИИ
						span Акселерация в составе команды стартапа. Изучение и применение методологий кратного роста. Впервые увидел работу трекеров в деле.
					.time-block__year
						span 2016
				li
					.time-block__text
						h2 Solution Selling методологии B2B продаж
						span Изучение и применение технологииот команды QED Consulting
					.time-block__year
						span 2016
				li
					.time-block__text
						h2 Обучение на эксперта ПреакселератораФРИИ
						span Обучение и практика в рамках отбора экспертов для отсева стартапов к попаданию в Акселератор ФРИИ
					.time-block__year
						span 2017
				li
					.time-block__text
						h2 Miller Heiman Group обучение методологиямсложных B2B продаж
						span Изучение и применение методологии “Синих Листов”в сложных продажах ИТ продуктов
					.time-block__year
						span 2017
				li
					.time-block__text
						h2 Сертифицированный представитель АМО CRM
						span Продажи и внедрение сервиса AMO CRM в любые ниши бизнеса
					.time-block__year
						span 2017
				li
					.time-block__text
						h2 Пермский ИТ Университет - гибкие методологии разработки продуктов
						span Курс по применению Agile подхода к разработке ИТ продуктов
					.time-block__year
						span 2019
				li
					.time-block__text
						h2 Академия Трекеров Месторождения
						span Прохождение сертификации Бизнес-Трекера, новые кейсы и проекты в работе
					.time-block__year
						span 2020
				li
					.time-block__continued
						span to be continued

	section.reviews#reviews
		.container
			.reviews-slider
				.reviews-slider__item
					.reviews-slider__item-img
						img(src="assets/img/review_photo.jpg", alt="")
					.reviews-slider__item-text
						span.reviews-slider__item-text__name Мария
						span.reviews-slider__item-text__company
							img(src="assets/img/review_line.svg", alt="")
							| ТрастСтройМонтажСнаб
						span.reviews-slider__item-text__desc Трекер не будет работать за вас, он покажет направление, поможет держать фокус и не сбиться с пути. Поработать основателю и команде придется самостоятельно.
				.reviews-slider__item
					.reviews-slider__item-img
						img(src="assets/img/review_photo.jpg", alt="")
					.reviews-slider__item-text
						span.reviews-slider__item-text__name Мария
						span.reviews-slider__item-text__company
							img(src="assets/img/review_line.svg", alt="")
							| ТрастСтройМонтажСнаб
						span.reviews-slider__item-text__desc Трекер не будет работать за вас, он покажет направление, поможет держать фокус и не сбиться с пути. Поработать основателю и команде придется самостоятельно.
				.reviews-slider__item
					.reviews-slider__item-img
						img(src="assets/img/review_photo.jpg", alt="")
					.reviews-slider__item-text
						span.reviews-slider__item-text__name Мария
						span.reviews-slider__item-text__company
							img(src="assets/img/review_line.svg", alt="")
							| ТрастСтройМонтажСнаб
						span.reviews-slider__item-text__desc Трекер не будет работать за вас, он покажет направление, поможет держать фокус и не сбиться с пути. Поработать основателю и команде придется самостоятельно.

	section.faq
		.container
			.faq-block
				.faq-block__item
					h3 
						.faq-block__item-row
							span.vert
							span
						| Кто такой трекер?
					.faq-block__item-desc Трекер - это эксперт по методологиям кратного роста бизнеса
				.faq-block__item
					h3 
						.faq-block__item-row
							span.vert
							span
						| Что такое трекинг?
					.faq-block__item-desc Процесс помощи в поиске узких мест и зон роста бизнеса, помощь в фокусировке предпринимателя или команды 
				.faq-block__item
					h3 
						.faq-block__item-row
							span.vert
							span
						| Что делает трекер?
					.faq-block__item-desc Задает правильные и нужные вопросы, этим ведет команду к инсайтам. Учит встраивать методологию HADI циклов в бизнес 
				.faq-block__item
					h3 
						.faq-block__item-row
							span.vert
							span
						| Какая цель у трекинга?
					.faq-block__item-desc Помочь снять ментальные ограничения и блоки, внедрить методологии роста в бизнес для самостоятельного применения командой
				.faq-block__item
					h3 
						.faq-block__item-row
							span.vert
							span
						| Чем трекер отличается от других помогающих профессий для предпринимателей? (коуч, ментор, наставник и др.)
					.faq-block__item-desc Только трекер использует методологию HADI циклов проверки гипотез на нужных метриках. Это главный и универсальный инструмент трекинга

	section.products#products
		.container
			h2.products-title Продукты
			.products-block
				.products-block__item
					img(src="assets/img/product_1.svg", alt="")
					.products-block__item-text
						h3 Вводный
						.products-block__item-text__desc 
							p Для начального уровня Вы поймете азы методологии, примерите ее на себя и свой бизнес
							p Бесплатная первая диагностическая сессия, 4 еженедельные ссесии, онлайн сопровождение
						.products-block__item-text-block
							span.products-block__item-text__price 40 000 руб.
							a.button.button__dark(href="#form") попробовать
				.products-block__item
					img(src="assets/img/product_2.svg", alt="")
					.products-block__item-text
						h3 Акселерация
						.products-block__item-text__desc 
							p Забег на среднюю дистанцию Вживление в бизнес за 3 месяца Хороший срок для мотивированной команды
							p Бесплатная первая дианостическая сессия, 12 еженедельных сессий, онлайн сопровождение
						.products-block__item-text-block
							span.products-block__item-text__price 100 000 руб.
							a.button.button__dark(href="#form") попробовать
				.products-block__item
					img(src="assets/img/product_3.svg", alt="")
					.products-block__item-text
						h3 Внедрение
						.products-block__item-text__desc 
							p Полугодовой забег Подойдет большим командам
							p Бесплатная первая диагностическая сессия, 24 еженедельных сесиии, онлайн сопровождение
						.products-block__item-text-block
							span.products-block__item-text__price 300 000 руб.
							a.button.button__dark(href="#form") попробовать
				.products-block__item
					img(src="assets/img/product_4.svg", alt="")
					.products-block__item-text
						h3 Разовая консультация
						.products-block__item-text__desc 
							p Консультация по вопросам бизнеса Вне графика трекшен сессий Офлайн в Перми Онлайн
						.products-block__item-text-block
							span.products-block__item-text__price 4 000 руб.
							a.button.button__dark(href="#form") попробовать
			.products-subtitle 
				| Оффлайн сопровождение обсуждается индивидуально 
				span.block Для всех регионов РФ

	section.form#form
		.container
			span.form-title Соцсети и мессенджеры
			.form-social
				a(href="mailto:planetaviktorii@mail.ru")
					img.img-svg(src="assets/img/mail_white.svg", alt="mail", srcset="")
				a(href="mailto:planetaviktorii@mail.ru")
					img.img-svg(src="assets/img/telegram_white.svg", alt="telegram", srcset="")
				a(href="mailto:planetaviktorii@mail.ru")
					img.img-svg(src="assets/img/whatsup_white.svg", alt="whatsup", srcset="")
				a(href="mailto:planetaviktorii@mail.ru")
					img.img-svg(src="assets/img/vk_white.svg", alt="vk", srcset="")
				a(href="mailto:planetaviktorii@mail.ru")
					img.img-svg(src="assets/img/facebook_white.svg", alt="facebook", srcset="")
				a(href="mailto:planetaviktorii@mail.ru")
					img.img-svg(src="assets/img/inst_white.svg", alt="facebook", srcset="")
			form.form-form(action="", method="post")
				.form-form__line
					div
						input(type="text" placeholder="Как вас зовут")
					div
						input(type="tel", name="tel" placeholder="Ваш номер телефона")
				div
					input(type="email", name="email" placeholder="Ваш E-mail")
				div
					textarea(name="textarea", placeholder="Ваш вопрос")
				button.button.button__dark(type="submit") Отправить
		.form-subtitle
			h3 Выведи
				span.block свой бизнес
			h2 на сверхзвук!

	section.sert
		.container
			.sert-block
				.sert-slider
					.sert-slider__item
						img(src="assets/img/sert_1.jpg", alt="")
						.sert-slider__item-mirrow
							img.mirrowY(src="assets/img/sert_1.jpg", alt="")
					.sert-slider__item
						img(src="assets/img/sert_2.jpg", alt="")
						.sert-slider__item-mirrow
							img.mirrowY(src="assets/img/sert_2.jpg", alt="")
					.sert-slider__item
						img(src="assets/img/sert_3.jpg", alt="")
						.sert-slider__item-mirrow
							img.mirrowY(src="assets/img/sert_3.jpg", alt="")
					.sert-slider__item
						img(src="assets/img/sert_4.jpg", alt="")
						.sert-slider__item-mirrow
							img.mirrowY(src="assets/img/sert_4.jpg", alt="")
					.sert-slider__item
						img(src="assets/img/sert_1.jpg", alt="")
						.sert-slider__item-mirrow
							img.mirrowY(src="assets/img/sert_1.jpg", alt="")

	.success
		span Спасибо за заявку!