header.header
  .container
    a.header-logo(href="#wrapper")
      img(src="assets/img/logo.svg", alt="логотип", srcset="")
    .header-menu__button
      span
    .header-block
      ul.header-menu
        li
          a(href="#use") В чем польза
        li
          a(href="#up") Сейчас растут 
        li
          a(href="#tasks") Задачи Трекинга
        li
          a(href="#time") Мой путь
        li
          a(href="#reviews") Отзывы
        li
          a(href="#products") Продукты
      .header-info
        .header-info__main
          a.phone(href="tel:+79223838922") +7 922 38 38 922
          a.mail(href="mailto:planetaviktorii@mail.ru") planetaviktorii@mail.ru
        .header-info__social
          a(href="tel:+79223838922")
            img(src="assets/img/phone.svg", alt="phone", srcset="")
          a(href="mailto:planetaviktorii@mail.ru")
            img(src="assets/img/mail.svg", alt="mail", srcset="")
          a(href="mailto:planetaviktorii@mail.ru")
            img(src="assets/img/telegram.svg", alt="telegram", srcset="")
          a(href="mailto:planetaviktorii@mail.ru")
            img(src="assets/img/whatsup.svg", alt="whatsup", srcset="")
          a(href="mailto:planetaviktorii@mail.ru")
            img(src="assets/img/vk.svg", alt="vk", srcset="")
          a(href="mailto:planetaviktorii@mail.ru")
            img(src="assets/img/facebook.svg", alt="facebook", srcset="")
