.banner{
  position: relative;
  background: $text-color;
  &::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('/assets/img/banner-bg.png') no-repeat;
    background-size: cover;
  }
  & .container{
    position: relative;
    height: 910px;
    &::after{
      z-index: 1;
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: url('/assets/img/human.png') no-repeat;
      background-position: -6% bottom;
    }
  }

  &-block{
    z-index: 2;
    position: absolute;
    top: 48px;
    right: 15px;
    max-width: 722px;
    padding: 40px 40px 40px 141px;
    font-size: 18px;
    color: white;
    // background: transparentize($color: #182738, $amount: 0.5);
    background: url('/assets/img/banner-bg-text.png') no-repeat;
    background-size: cover;
    
  }

  &-text{
    z-index: 2;
    position: absolute;
    right: 25px;
    bottom: 87px;
    text-align: right;
    &__sname{
      font-family: 'Montserrat' ,sans-serif;
      font-weight: 900;
      font-size: 106px;
      color: $orange;
    }
    &__fname{
      font-family: 'Merriweather' ,sans-serif;
      font-weight: 400;
      font-size: 61px;
      letter-spacing: 0.05em;
      color: $orange;
    }
    &__desc{
      font-family: 'Merriweather' ,sans-serif;
      font-size: 24px;
      letter-spacing: 0.05em;
      color: white;
    }
  }

  & .second-block{
    display: none;
  }
}

@media(max-width: 479px){
  .banner{
    .first-block{
      display: none;
    }

    & .second-block{
      display: block;
    }

    & .container{
      height: 610px;
      overflow: visible;
      &::after{
        background-position: -55px bottom;
        background-size: 335px 594px;
      }
    }

    &-block{
      z-index: 2;
      position: relative;
      max-width: unset;
      top: unset;
      right: unset;
      padding: 40px 0;
      line-height: 1.3;
      background: $text-color;
      & .color{
        font-size: 24px;
      }
      & p{
        margin: 0;
        margin-bottom: 15px;
        &:last-child{
          margin-bottom: 0;
        }
      }
      & .container{
        height: unset;
        &::after{
          content: unset;
        }
      }
    }

    &-text{
      right: 15px;
      bottom: 55px;
      &__sname{
        font-size: 62px;
      }
      &__fname{
        font-size: 48px;
        margin-bottom: 10px;
      }
      &__desc{
        font-size: 24px;
      }
    }
  }
}