.diagnosis{
  padding: 40px 0 70px 0;
  &-block{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    grid-row-gap: 80px;
    margin-bottom: 80px;
    font-size: 18px;
    &__item{
      max-width: 264px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      text-align: center;
      & img{
        margin-bottom: 10px;
      }
    }
  }
  & .button{
    display: block;
    margin: 0 auto;
    max-width: 296px;
  }
}

@media(max-width: 479px){
  .diagnosis{
    padding: 30px 0;
    &-block{
      grid-template-columns: 1fr 1fr;
      grid-gap: 40px;
      grid-row-gap: 15px;
      margin-bottom: 30px;
      font-size: 14px;
      &__item{
        text-align: left;
      }
      & img{
        width: 144px;
        margin-bottom: 0;
      }
    }
    & .button{
      max-width: 340px;
    }
  }
}