.faq {
  padding: 60px 0 80px 0;
  &-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__item {
      width: 530px;
      margin-bottom: 55px;
      &:last-child{
        margin-bottom: 0;
      }
      &-row {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 32px;
        max-width: 32px;
        height: 32px;
        margin-right: 30px;
        border: 2px solid $orange;
        border-radius: 50%;

        & span {
          display: block;
          width: 16px;
          height: 2px;
          background: $orange;
        }

        & .vert {
          position: absolute;
          transform: rotate(90deg);
          transition: .3s;
        }

      }

      &-desc {
        display: none;
        padding-left: 62px;
        font-size: 21px;
        opacity: 0.7;
      }

      & h3 {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        font-family: 'Merriweather', sans-serif;
        font-size: 24px;
        letter-spacing: 0.03em;
        color: $orange;
        cursor: pointer;
      }

    }
  }
}

.in{
  & .vert {
    transform: rotate(0deg);
  }
}

@media(max-width: 479px){
  .faq {
    padding: 40px 0 50px 0;
    &-block {
      &__item{
        width: 100%;
        max-width: 375px;
        margin-bottom: 25px;
        &-row {
          margin-right: 20px;
        }
        &-desc {
          padding-left: 52px;
          font-size: 14px;
        }
        & h3 {
          font-size: 14px;
        }
      }
    }
  }
}