.form{
  position: relative;
  padding: 90px 0;
  background: url('/assets/img/form_bg.png') $text-color no-repeat;
  background-position: right bottom;
  background-size: cover;
  &::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(#000000 0%, rgba(0, 0, 0, 0) 91.64%) no-repeat;
    background-size: 100% 250px;
  }
  &::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 250px;
    transform: rotate(180deg);
    background: linear-gradient(#000000 0%, rgba(0, 0, 0, 0) 91.64%) no-repeat;
  }
  & .container{
    position: relative;
    z-index: 2;
  }
  &-title{
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    color: white;
    opacity: 0.7;
  }
  &-subtitle{
    z-index: 2;
    position: absolute;
    bottom: 30px;
    right: 30px;
    font-family: 'Merriweather', sans-serif;
    font-weight: bold;
    letter-spacing: 0.03em;
    color: white;
    & h3{
      font-size: 24px;
    }
    & h2{
      font-size: 47px;
    }
  }
  &-social{
    margin-bottom: 50px;
    & a+a{
      margin-left: 25px;
    }
  }
  &-form{
    max-width: 460px;
    padding: 30px;
    border: 1px solid white;
    border-radius: 16px;
    &__line{
      display: flex;
      margin-bottom: 15px;
      & div{
        width: 100%;
      }
      & div+div{
        margin-left: 10px;
      }
    }
    & input, textarea{
      width: 100%;
      height: 60px;
      padding-left: 10px;
      border: 1px solid $gray-color;
      border-radius: 16px;
      font-size: 18px;
      font-family: 'Didact Gothic', sans-serif;
      background: white;
      outline: none;
      &::placeholder{
        color: $gray-color;
      }
      &:focus{
        border: 1px solid $orange;
        transition: .3s;
      }
    }
    & textarea{
      height: 180px;
      margin-top: 15px;
      margin-bottom: 15px;
      padding-top: 15px;
    }
    & .button{
      display: block;
      width: 186px;
      margin: 0 auto;
      background: transparent;
      &:hover{
        background: $orange;
      }
    }
  }
}

@media(max-width: 479px){
  .form{
    padding: 270px 0 20px 0;
    background: url('/assets/img/form_bg_m.png') black no-repeat;
    background-position: 0 top;
    background-size: contain;
    &-subtitle{
      z-index: 1;
      top: 10px;
      left: 15px;
      right: 15px;
      bottom: 0;
      max-width: 375px;
      padding: 0 15px;
      margin: 0 auto;
      & h2{
        font-size: 40px;
      }
    }
    &-form{
      position: relative;
      z-index: 3;
      padding: 30px 15px;
      & input, textarea{
        font-size: 14px;
      }
      & textarea{
        height: 180px;
        margin-top: 15px;
        margin-bottom: 15px;
        padding-top: 15px;
      }
      & .button{
        display: block;
        width: 186px;
        margin: 0 auto;
        background: transparent;
        &:hover{
          background: $orange;
        }
      }
    }
  }
}