.products{
  padding: 50px 0 60px 0;
  background: black;
  &-title{
    margin-bottom: 50px;
    font-family: 'Yeseva One', cursive;
    font-weight: normal;
    font-size: 38px;
    color: $orange;
  }
  &-block{
    margin-bottom: 55px;
    &__item{
      position: relative;
      min-height: 560px;
      max-width: 265px;
      padding: 50px 15px 20px 15px;
      border: 1px solid $gray-color;
      border-radius: 16px;
      text-align: center;
      & img{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
      &-text{
        margin-top: 115px;
        &-block{
          position: absolute;
          bottom: 30px;
          left: 50%;
          transform: translateX(-50%);
        }
        & h3{
          margin-bottom: 21px;
          font-family: 'Merriweather', sans-serif;
          font-weight: normal;
          font-size: 20px;
          letter-spacing: 0.03em;
          color: white;
        }
        &__desc{
          position: relative;
          max-height: 240px;
          max-width: 240px;
          margin: 0 auto;
          margin-bottom: 35px;
          color: white;
          opacity: 0.7;
          line-height: 1.5;
          & p{
            margin: 0;
            &:last-child{
              position: absolute;
              top: 105px;
            }
          }
        }
        &__price{
          display: block;
          margin-bottom: 40px;
          font-family: 'Merriweather', sans-serif;
          font-size: 24px;
          font-weight: bold;
          letter-spacing: 0.03em;
          color: $orange;
        }
        & .button__dark{
          display: block;
          margin: 0 auto;
          width: 214px;
          background: transparent;
          &:hover{
            background: $orange;
          }
        }
      }
    }

    & .slick-slide{

      &:nth-child(2){
        & .products-block__item{
          padding-top: 45px;
          &-text{
            margin-top: 120px;
          }
        }
      }

      &:last-child{
        & .products-block__item{
          padding-top: 33px;
          &-text{
            margin-top: 120px;
            & h3{
              margin-bottom: 9px;
            }
          }
        }
      }
    }
  }
  &-subtitle{
    font-family: 'Merriweather', sans-serif;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.03em;
    text-align: center;
    color: white;
  }
}

@media(max-width: 479px){
  .products{
    padding: 40px 0;
    &-title{
      margin-bottom: 25px;
      font-size: 24px;
    }
    &-block{
      margin-bottom: 10px;
      &__item{
        max-width: 100%;
        &-text{
          &__desc{
            font-size: 14px;
          }
        }
      }
    }
    &-subtitle{
      font-size: 18px;
    }
  }
}