.reviews{
  &-slider{
    padding: 60px 0 30px 0 !important;
    border-top: 1px solid $orange;
    border-bottom: 1px solid $orange;
    &__item{
      display: flex !important;
      align-items: flex-end;
      opacity: 0.3;
      &:hover{
        opacity: 1;
        transition: .3s;
      }
      &-img{
        min-width: 169px;
        min-height: 169px;
        margin-right: 30px;
        border-radius: 50%;
        background: black;
        overflow: hidden;
        & img{
          width: 100%;
        }
      }
      &-text{
        // max-width: 350px;
        &__name{
          display: block;
          margin-bottom: 30px;
          font-family: 'Merriweather', sans-serif;
          font-size: 24px;
          font-weight: bold;
          letter-spacing: 0.03em;
        }
        &__company{
          display: flex;
          align-items: center;
          margin-bottom: 30px;
          color: $orange;
          & img{
            margin-right: 9px;
          }
        }
        &__desc{
          font-size: 21px;
          color: $gray-color;
          opacity: 0.7
        }
      }
    }

    &.slick-dotted.slick-slider{
      padding-bottom: 0;
    }

    // & .slick-slide{
    //   opacity: 0.3;
    // }

    // & .slick-current {
    //   opacity: 1;
    //   transition: .7s;
    // }

    & .slick-dots{
      margin-top: 50px;
    }
  }
}

@media(max-width: 479px){
  .reviews{
    &-slider{
      padding: 50px 0 30px 0 !important;
      &__item{
        flex-direction: column;
        align-items: center;
        padding: 0 15px;
        &-img{
          max-width: 120px;
          max-height: 120px;
          min-width: 120px;
          min-height: 120px;
          margin-right: 0;
          margin-bottom: 20px;
          & img{
            margin: 0 auto;
          }
        }
        &-text{
          &__name{
            margin-bottom: 10px;
            font-size: 18px;
          }
          &__company{
            margin-bottom: 20px;
          }
          &__desc{
            font-size: 14px;
          }
        }
      }

      & .slick-dots{
        margin-top: 20px;
      }
    }
  }
}