.sert{
  padding: 110px 0 30px 0;
  background: black;
  &-slider{
    &__item{
      height: 100%;
      display: flex !important;
      flex-direction: column;
      justify-content: flex-end;
      & img{
        width: 264px;
        margin: 0 auto;
        border-radius: 16px;
      }
      &-mirrow{
        width: 264px;
        margin: 0 auto;
        position: relative;
        &::before{
          z-index: 1;
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          border-radius: 16px;
          background: linear-gradient(180deg, #070E14 0%, rgba(7, 14, 20, 0) 100%) no-repeat;
          transform: matrix(1, 0, 0, -1, 0, 0);
          background-size: contain;
        }
      }
      & .mirrowY{
        transform: scale(1, -1);
        height: 76px;
        opacity: 0.3;
      }
    }
    & .slick-dots{
      z-index: 3;
      position: absolute;
      bottom: 40px;
      left: 50%;
      transform: translateX(-50%);
      margin-top: 0
    }
  }
}

@media(max-width: 479px){
  .sert{
    padding: 20px 0 0px 0;
    background: $text-color;
    &-block{
      z-index: 2;
      position: relative;
    }
    &-slider{
      margin-bottom: -15px;
      &__item{
        & img{
          width: 342px;
        }
        &-mirrow{
          width: 342px;
        }
      }

      & .slick-dots{
        bottom: 20px;
        width: 100%;
        padding-bottom: 20px;
        border-bottom: 1px solid $orange;
      }
    }
    & .slick-dotted.slick-slider{
      padding-bottom: 0;
    }
  }
}