.slider-photo{
  background: $text-color;
  &__item{
    position: relative;
    cursor: pointer;
    &:hover{
      & .slider-photo__item-block{
        opacity: 1;
      }
    }
    &-block{
      z-index: 1;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 30px;
      background: rgba(0, 0, 0, 0.8);
      box-shadow: 0px 2.19453px 2.06153px rgba(0, 0, 0, 0.1), 0px 7.37098px 6.92426px rgba(0, 0, 0, 0.15), 0px 25px 31px rgba(0, 0, 0, 0.2);
      opacity: 0;
      transition: .3s;
      & h2{
        margin-bottom: 20px;
        font-size: 24px;
        font-family: 'Merriweather', serif;
        color: $orange;
      }
      & span{
        display: block;
        font-size: 18px;
        color: white;
      }
    }
  }

}

.slider-photo-1{
  margin-bottom: -4px;
  display: none;
}

.slick-dotted.slick-slider{
  padding-bottom: 30px;
}

@media(max-width: 479px){
  .slider-photo-1{
    display: none;
  }
  .slider{
    &-photo{
      &__block{
        & .slick-dotted.slick-slider{
          padding-bottom: 15px;
        }
      }
      &__item{
        & img{
          display: block;
          height: 285px;
          width: unset;
          object-fit: cover;
        }
      }
    }

    
  }

  .slick-dots {
    margin-top: 5px;
  }
}