.success{
  z-index: 8;
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 30px 30px;
  max-width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background: $orange;
  opacity: 0.9;
  display: none;

  & span{
    font-size: 24px;
  }
}