.tasks{
  padding: 50px 0;
  background: url('/assets/img/tasks-bg.png') $text-color no-repeat;
  background-position: center top;
  background-size: contain;
  &-title{
    margin-bottom: 585px;
    font-size: 38px;
    font-family: 'Yeseva One', cursive;
    font-weight: normal;
    color: $orange;
  }
  &-block{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    &__item{
      color: white;
      &-box{
        display: flex;
        &__num{
          margin-right: 30px;
          line-height: 0.9;
          font-family: 'Montserrat', sans-serif;
          font-size: 64px;
          font-weight: 900;
          text-transform: uppercase;
          color: $gray-color;
        }   
        &__text{
          max-width: 230px;
          margin-top: 30px;
          & h3{
            margin-bottom: 5px;
            font-family: 'Merriweather', sans-serif;
            font-size: 24px;
            letter-spacing: 0.03em;
            color: $orange;
          }
          & span{
            line-height: 1.5;
          }
        }
      }
    }
  }
  & .button{
    display: block;
    max-width: 296px;
    margin: 0 auto;
  }
}

@media(max-width: 479px){
  .tasks{
    padding: 40px 0;
    background-size: 730px;
    &-title{
      margin-bottom: 230px;
      font-size: 24px;
    }
    &-block{
      flex-direction: column;
      margin-bottom: 30px;
      &__item{
        margin-bottom: 30px;
        &:last-child{
          margin-bottom: 0;
        }
        & img{
          width: 340px;
          height: 340px;
        }
        &-box{
          margin-top: -30px;
          &__num{
            margin-right: 20px;
          }
          &__text{
            max-width: 290px;
            margin-top: 30px;
            & h3{
              margin-bottom: 10px;
              font-size: 18px;
            }
            & span{
              font-size: 14px;
            }
          }
        }
      }
    }
    & .button{
      max-width: 340px;
    }
  }
}