.time{
  padding: 60px 0;
  &-block{
    position: relative;
    padding-bottom: 30px;
    &::before{
      z-index: -1;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: url('/assets/img/time_line.svg') no-repeat;
      background-position: center 40px;
    }
    & li {
      display: flex;
      justify-content: space-between;
      &:nth-child(1){
        margin-bottom: 30px;
      }
      &:nth-child(2){
        margin-bottom: 60px;
      }
      &:nth-child(3){
        margin-bottom: 55px;
      }
      &:nth-child(4){
        margin-bottom: 75px;
      }
      &:nth-child(5){
        margin-bottom: 45px;
      }
      &:nth-child(6){
        margin-bottom: 80px;
      }
      &:nth-child(7){
        margin-bottom: 50px;
      }
      &:nth-child(2n) {
        & .time {
          &-block{
            &__year{
              order: -1;
              & span{
                text-align: right;
              }
            }
            &__text{
              & h2, span{
                margin-left: unset;
                text-align: left;
              }
            }
          }
        }
      }
    }
    &__text{
      display: block;
      width: 49%;
      padding-top: 25px;
      & h2 + span{
        margin-top: 5px;
      }
      & h2{
        max-width: 350px;
        margin-left: auto;
        font-size: 24px;
        font-family: 'Merriweather', sans-serif;
        letter-spacing: 0.03em;
        text-align: right;
        color: $orange;
      }
      & span{
        display: block;
        max-width: 350px;
        margin-left: auto;
        text-align: right;
      }
    }
    &__year{
      width: 48%;
      & span+span{
        margin-top: 10px;
      }
      & span{
        display: block;
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
        font-size: 64px;
        text-transform: uppercase;
        color: $gray-color;
      }
    }
    &__continued{
      margin: 0 auto;
      margin-top: 72px;
      transform: rotate(-90deg);
      font-size: 12px;
      text-align: right;
      text-transform: uppercase;
      color: $orange;
    }
  }
}

@media(max-width: 479px){
  .time{
    padding: 40px 0;
    &-block{
      &::before{
        background: url('/assets/img/time_line_m.svg') no-repeat;
        background-position: 70px 10px;
      }
      & li {
        display: flex;
        justify-content: space-between;
        &:nth-child(1){
          margin-bottom: 30px;
        }
        &:nth-child(2){
          margin-bottom: 25px;
        }
        &:nth-child(3){
          margin-bottom: 20px;
        }
        &:nth-child(4){
          margin-bottom: 40px;
        }
        &:nth-child(5){
          margin-bottom: 22px;
        }
        &:nth-child(6){
          margin-bottom: 20px;
        }
        &:nth-child(7){
          margin-bottom: 20px;
        }
        &:nth-child(2n) {
          & .time {
            &-block{
              &__year{
                & span{
                  text-align: left;
                }
              }
              &__text{
                & h2, span{
                  margin-left: unset;
                  text-align: left;
                }
              }
            }
          }
        }
      }
      &__text{
        width: 100%;
        margin-left: 15px;
        padding-top: 5px;
        & h2 + span{
          margin-top: 5px;
        }
        & h2{
          margin-left: auto;
          font-size: 14px;
          text-align: left;
        }
        & span{
          text-align: left;
        }
      }
      &__year{
        width: 60px;
        order: -1;
        margin-right: 20px;
        & span+span{
          margin-top: 10px;
        }
        & span{
          font-size: 24px;
        }
      }
      &__continued{
        margin: 0 24px;
        margin-top: 70px;
        transform: rotate(-90deg);
        font-size: 12px;
        text-align: right;
        text-transform: uppercase;
        color: $orange;
      }
    }
  }
}