.up{
  padding: 50px 0 220px 0; 
  &-title{
    margin-bottom: 55px;
    font-size: 38px;
    font-family: 'Yeseva One', cursive;
    font-weight: normal;
  }
  &-first{
    position: relative;
    display: flex;
    margin-bottom: -10px;
    &__item{
      max-width: 350px;
      padding-bottom: 30px;
      &:nth-child(2){
        position: absolute;
        top: 200px;
        left: 200px;
      }
      &:nth-child(3){
        margin-left: 45px;
        
      }
      &:nth-child(4){
        position: absolute;
        top: 200px;
        left: 590px;
      }
      &:nth-child(5){
        width: 285px;
        margin-left: 138px;
        border-left: 1px solid $orange;
        & h2{
          color: white;
        }
      }
      &-flag{
        position: relative;
        padding-left: 30px;
        & span{
          display: block;
          max-width: 200px;
        }
        &::before{
          z-index: -1;
          content: '';
          position: absolute;
          top: -16px;
          bottom: -19px;
          left: -1px;
          right: 0;
          background: url('/assets/img/up_flag_bg.svg');
        }
      }
      & h2{
        margin-bottom: 5px;
        font-family: 'Merriweather', sans-serif;
        font-size: 24px;
        letter-spacing: 0.03em;
        color: $orange;
      }
    }
  }
}

@media(max-width: 479px){
  .up{
    position: relative;
    padding: 40px 0 0 0;
    &-title{
      margin-bottom: 15px;
      font-size: 24px;
    }
    & img{
      display: none;
    }
    &-first{
      flex-direction: column;
      margin-bottom: 0;
      padding-left: 20px;
      background: url('/assets/img/up_line_m.svg') no-repeat;
      background-position: 0 15px;
      &__item{
        max-width: 352px;
        padding-bottom: 0;
        & h2{
          font-size: 18px;
        }
        &:nth-child(1){
          margin-bottom: 30px;
        }
        &:nth-child(2){
          position: unset;
        }
        &:nth-child(3){
          margin-left: unset;
          margin-bottom: 40px;
        }
        &:nth-child(4){
          position: unset;
          margin-bottom: 45px;
        }
        &:nth-child(5){
          margin-left: -17px;
          margin-bottom: 50px;
        }
        &-flag{
          padding-left: 17px;
        }
      }
    }
  }
}