.use{
  padding: 70px 0;
  position: relative;
  background: $text-color;
  &::before{
    z-index: 1;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 30%;
    background: url('/assets/img/use_human.jpg') no-repeat;
    background-position: right;
    background-size: cover;
  }
  &::after{
    z-index: 0;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 70%;
    background: url('/assets/img/use_left_bg.png') no-repeat;
    background-position: left;
    background-size: cover;
  }
  &-left{
    z-index: 2;
    position: relative;
    width: 70%;
    text-align: center;
    color: white;
    &__title{
      margin-bottom: 30px;
      font-size: 48px;
      font-family: 'Merriweather', serif;
      color: $orange;
    }
    &__desc{
      display: block;
      max-width: 660px;
      margin: 0 auto;
      margin-bottom: 40px;
      font-size: 20px;
    }
    &__item{
      &:nth-child(1){
        max-width: 200px;
        margin-left: 70px;
      }
      &:nth-child(2){
        max-width: 200px;
        margin-left: auto;
        margin-top: 30px;
        margin-right: 80px;
      }
      &:nth-child(3){
        max-width: 278px;
        margin-left: 70px;
      }
      &:nth-child(4){
        max-width: 278px;
        margin-top: 10px;
        margin-left: auto;
        margin-right: 70px;
      }
      &:nth-child(5){
        max-width: 200px;
        margin-left: 150px;
      }
      &:nth-child(6){
        display: flex;
        align-items: center;
        margin-top: 65px;
      }
      &-title{
        width: 50%;
        font-family: 'Merriweather', serif;
        font-size: 24px;
        color: white;
      }
      &-block{
        width: 50%;
        & span{
          display: block;
          max-width: 270px;
          margin-left: 20px;
          &:first-child{
            margin-bottom: 40px;
          }
        }
      }
      &s{
        width: 100%;
        margin-bottom: 90px;
        font-size: 18px;
        color: $orange;
        background: url('/assets/img/use_left_item.svg') no-repeat;
        background-position: center 20px;
      }
    }
  }
}

@media(max-width: 479px){
  .use{
    padding: 40px 0;
    &::before{
      content: unset;
    }
    &::after{
      width: 100%;
      background-position: -120px center;
    }
    &-left{
      width: 100%;
      &__title{
        margin-bottom: 17px;
        font-size: 24px;
        letter-spacing: 0.05em;
        text-align: left;
      }
      &__desc{
        margin-bottom: 30px;
        font-size: 16px;
        text-align: left;
      }
      &__item{
        &:nth-child(1){
          max-width: 155px;
          margin-left: 0;
        }
        &:nth-child(2){
          max-width: 180px;
          margin-left: auto;
          margin-top: 25px;
          margin-right: 0;
          text-align: right;
        }
        &:nth-child(3){
          max-width: 160px;
          margin: 20px 0 0 0;
          text-align: left;
        }
        &:nth-child(4){
          max-width: 200px;
          margin: 35px 0 0 auto;
          text-align: right;
        }
        &:nth-child(5){
          max-width: 200px;
          margin-top: 10px;
          margin-left: 0;
          text-align: left;
        }
        &:nth-child(6){
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          margin-top: 40px;
        }
        &-title{
          max-width: 160px;
          font-size: 18px;
          text-align: left;
          letter-spacing: 0.05em;
        }
        &-block{
          max-width: 215px;
          width: unset;
          & span{
            margin-left: 0;
            text-align: right;
            &:first-child{
              margin-bottom: 10px;
            }
          }
        }
        &s{
          padding-bottom: 50px;
          margin-bottom: 0;
          font-size: 14px;
          background: url('/assets/img/use_line_m.svg') no-repeat;
          background-position: center 45px;
        }
      }
      & .button__dark{
        display: block;
        max-width: 340px;
      }
    }
  }
}